:root {
  --color-primary: #360033;
  --color-secondary: #0b8793;

  --color-grey-light: #f0eeee;

  --color-grey-dark-1: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background: #dde1e7;
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3rem 4rem;
  width: 70vw;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
  }
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #dde1e7;
  box-shadow: -6px -6px 14px #ffffff73,
  4px 4px 10px rgba(94, 104, 121, 0.288);
  padding: 4rem;
  border-radius: 5rem;
  position: relative;
  margin: 0 auto;
  transition: all 300ms ease;
}

.label {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgba(0,0,0,.4);
  font-weight: bold;
}

.text {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.text__input {
  font-family: inherit;
  font-size: 1.7rem;
  color: rgba(0,0,0,.3);
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  background: #dde1e7;
  box-shadow: inset 4px 4px 10px #babecc,
  inset -10px -10px 20px #ffffff73;
  width: 100%;
  cursor: pointer;
}

.text__input:focus {
  outline: none;
}

.text__input::-webkit-input-placeholder {
  font-weight: 100;
  color: rgba(0,0,0,.3);
}

.text__input:focus ~ .text__button {
  background-color: transparent;
}

.text__button {
  border: none;
  background-color: transparent;
  margin-left: -4rem;
  cursor: pointer;
}

.text__button:focus {
  outline: none;
}

.text__button i {
  color: rgba(0,0,0,.5);
  font-size: 3.2rem;
}

.dropdown__container {
  width: 100%;
  height: 75vh;
  position: relative;
  z-index: 1;
  background: #dde1e7;
  box-shadow: -6px -6px 14px #ffffff73,
  4px 4px 10px rgba(94, 104, 121, 0.288);
  padding: 4rem 3rem;
  border-radius: 5rem;
  margin-top: 2rem;
  overflow-y: auto;
}

.dropdown-list__container {
  padding: 0 2rem;
  margin: 1rem 0;
  position: relative;
}

.dropdown-list__container .dropdown-list {
  list-style: none;
}

.dropdown-list__container .dropdown-list__item {
  font-size: 1.6rem;
  cursor: pointer;
}

.dropdown-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: auto;
  column-gap: 3rem;
  row-gap: 3rem;
  padding-bottom: 1rem;
}
/* -------------- Color Box -------------- */
.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 20rem;
  height: 20rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  border-radius: 5rem;
  box-shadow: -6px -6px 14px #ffffff73,
  4px 4px 10px rgba(94, 104, 121, 0.288);
  overflow: hidden;
}


.color-name {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 100;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);
  text-shadow: 2px 2px 4rem rgba(0,0,0,.4);
  opacity: 0.3;
}

.color-container input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0.6;
} 

.color-container input:checked ~ .checkmark {
  opacity: 1;
} 

.color-container input:checked ~ .color-name {
  opacity: 0.8;
}

.gradient-1 {
  background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.gradient-2 {
  background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

.gradient-3 {
  background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
}

.gradient-4 {
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

.gradient-5 {
  background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}


.gradient-6 {
  background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}

.gradient-7 {
  background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
}

.gradient-8 {
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}


.gradient-9 {
  background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
}

.gradient-10 {
  background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
}

.gradient-11 {
  background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
}

.gradient-12 {
  background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}

/* ------------------------- Scrollbar --------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dde1e7;
  box-shadow: inset 4px 4px 10px #babecc,
  inset -10px -10px 20px #ffffff77;
  border-radius: 3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edeef0;
  border-radius: 3rem;
  box-shadow: -6px -6px 14px #ffffff77,
  4px 4px 10px rgba(94, 104, 121, 0.288);
}